@media(min-width:600px) {
    #top-action-section{
 display:flex !important;
 align-items:center !important;
    }
}

.users-list-item.active .user-list-arrow-icon{

    transform: rotate(180deg);
}
.users-list-item.active , .users-list-item.active .collapsible-header{
    background-color: gray;
}
.containerr{
    width: 100% !important;
}
.add_user_modal_back{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 999;
}

.add_user_modal{
    position: fixed;
    height: 70vh;
    background-color:white ;
    bottom: 0;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: -70vh;
    
}
.add_user_modal.show{
    bottom: 0;
    box-shadow: 0 0 10 grey;
}
.coontainer{
    width: 70% !important;
}
.black1{
    color: #1c181a !important
}
.grey1{
    color: #afaca2 !important;
}
.orang1{
    color: #ff3d00 !important;
}